.header-image {
    background-image: url("./content/images/enzo-lo-presti-mKtRlysoims-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #444;
}
